@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-poppins: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

/* scroll */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #da6179;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #FADADD;
}